*{
  /* border: 1px solid red; */
  box-sizing: border-box;
}








.about-form {
  /* padding: 20px 50px; */
  background: #fff;
  /* background: rgb(204, 220, 253); */
  /* margin: 3.7rem auto 0 auto; */
  width: 100%;
}

 input,  textarea {
  padding: 3px 6px;
  width: 100%;
  border-radius: 5px;
}

label,textarea{
  font-size: 11px;
  margin: 2px;
  
}

/* .mattoolbar {
  position: absolute;
  bottom: 0;
  width: 100%;
} */
