*{
  /* border: 1px solid red; */
  box-sizing: border-box;
}
.main-cont{
  padding: 15%;
}
.map{
  background-image: url(https://www.acouplecooks.com/wp-content/uploads/2020/04/Sidecar-Cocktail-006s.jpg) ;
  
  background-repeat: no-repeat;
  background-size: cover;
  padding: 5%;
  
}
.hero {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}


form {
  display: grid;
  width: 30%;
  height: 90%;
  
}






.about-form {
  padding: 20px 50px;
  background: #fff;
  /* background: rgb(204, 220, 253); */
  width: 400px;
  margin: 3.7rem auto 0 auto;
}

.about-form input, .about-form textarea {
  padding: 8px 10px;
  margin-bottom: 1.5rem;
  width: 100%;
}

.about-form button {
  background: rgba(251, 252, 253, 0.65);
  border: 1px solid #BBBBBB;

  padding: 5px;
  text-transform: uppercase;
  font-size: 16px;
}

.form-name {
  display: flex;
  gap: 1.5rem;
  
}

/* .mattoolbar {
  position: absolute;
  bottom: 0;
  width: 100%;
} */
