<div class="hero">
  <div>
    <iframe [src]="mapsURL | safe" width="100%" height="615px" frameborder="0">
    </iframe>
  </div>

  <div class="right form-container">
    <form action="" class="about-form">
      <h3>Contact Us</h3>
      <div class="form-name">
        <input type="text" placeholder="First Name" />
        <input type="text" placeholder="Last Name" />
      </div>
      <input type="email" placeholder="Email" />
      <textarea
        name="address"
        id=""
        cols="30"
        rows="10"
        placeholder="Address"
      ></textarea>
      <button>Submit</button>
    </form>
    <mat-toolbar color="primary" class="mattoolbar">
      <h1>Amber Eateries</h1>
      &nbsp; &nbsp; &nbsp;
      <h2>1 305-420-6361</h2>
    </mat-toolbar>
  </div>
</div>
