
<app-slider
    [images]="images"
    [autoSlide]="true"
    [controls]="false"
></app-slider>

<main class="w-[1596px] mx-auto">
    <!-- order-section -->
    <section
        class="w-full my-[41px] grid grid-flow-row justify-center text-center bg-[#5F462B] text-white font-bold"
    >
        <div class="mx-auto">
            <p class="border-b-[10px] border-white pt-[50px] text-[50px]">
                IN-STORE PICKUP, CURBSIDE OR DELIVERY <br />
                START YOUR ORDER NOW
            </p>
            <button
                class="bg-[#EF4F43] py-[25px] px-[59px] w-[314px] my-[43px] text-[25px]"
            >
                ORDER NOW
            </button>
        </div>
    </section>
    <!-- order-section-end -->

    <!-- view-menu -->
    <section class="mb-20">
        <div class="grid grid-flow-col justify-between">
            <div class="grid grid-flow-row">
                <br />
                <div
                    class="flex bg-[#5F462B] items-center justify-around w-[626px]"
                >
                    <p class="text-white text-6xl">
                        WHAT'S ON <br />
                        <span class="font-bold">OUR MENU</span>
                    </p>
                    <div class="w-[272px] h-3 bg-white"></div>
                </div>
                <br />
                <div>
                    <p class="w-[570px] text-[20px] font-semibold">
                        “Great Food Is What We Do” And We Do It Like No One Else
                        Can. From our fine dining dishes to the most tastiest of
                        street style foods, amber eats have a menu just for your
                        cravings.
                    </p>
                </div>
                <button
                    class="bg-[#EF4F43] py-[20px] px-[64px] w-[314px] text-[25px] text-white font-bold h-[74px]"
                >
                    VIEW MENU
                </button>
            </div>
            <div class="w-[854px]">
                <img
                    src="https://s3-alpha-sig.figma.com/img/2922/1f95/bb95a4a7e1a3fd1ad00feb7274898a6a?Expires=1658102400&Signature=PQEQ~3KQ~~dy8ggDI1DiC03xbUm9xDiHqA1EM8BC~ok-IIqzJZiSnj4UJaErN8mJbhASRMyTpOpXhNnaRfkFjrqHD9ANirirHHIE0MClEGbmMkYdl31cenm7qee8zOGCIJjKKYUOx~rhS8BiVwW6O30hdXlRAqTPZbDj08I~QR7dEfEMuDJkI2gWA6CbcUjpRE2rycjz5auBdf0KNO-rH7jIVbezdgxH~I6k5TGyde440zAbCnn7l19Bfm5LiAajQSHj2zNmOq2lnK7OqKL68t8mq21fB469ZkM07IbNOAtPl5dpkYytZ9Cgk0sd7Ap-wydMBZm~PLpSWzpA9qu4Cg__&Key-Pair-Id=APKAINTVSUGEWH5XD5UA"
                    alt=""
                    class="w-full h-full object-cover"
                />
            </div>
        </div>
    </section>
    <!-- view-menu-end -->
</main>

<!-- hero-end -->
