<!-- hero -->
<div
    class="flex justify-center items-center min-h-[691px] bg-no-repeat bg-cover text-white"
>
    <div
        class="relative w-full min-h-[691px] flex justify-center items-center overflow-hidden"
    >
        <div class="absolute w-full h-full bottom-0">
            <app-slider
                [images]="images"
                [autoSlide]="true"
                [controls]="false"
            ></app-slider>
        </div>
        <!-- welcome-text -->
        <div>
            <h1
                class="max-w-[700px] text-[80px] text-center font-bold drop-shadow-2xl font-['Playfair Display]"
            >
                WELCOME <br />TO <br />
                AMBER EATS
            </h1>
        </div>
        <!-- welcome-text-end -->
    </div>
</div>

<main class="p-14">
    <!-- order-section -->
    <section
        class="grid grid-flow-row justify-center text-center bg-[#463420] text-[#fff3b0] font-bold h-full mb-20"
    >
        <div>
            <p
                class="border-b-[6px] border-white pt-[40px] text-[40px] m-auto text-white"
            >
                IN-STORE PICKUP, CURBSIDE OR DELIVERY <br />
                <span class="font-bold"> START YOUR ORDER NOW </span>
            </p>
            <button
                class="bg-[#5F462B] py-7 px-16 w-[314px] my-[43px] text-[17px] text-white"
            >
                ORDER NOW
            </button>
        </div>
    </section>
    <!-- order-section-end -->

    <!-- view-menu -->
    <section class="flex justify-around flex-wrap min-h-min">
        <div class="grid grid-flow-row gap-10">
            <div class="flex items-center justify-around">
                <p class="text-[#463420] text-6xl p-5">
                    WHAT'S ON <br />
                    <span class="font-bold">OUR MENU</span>
                </p>
                <div class="w-[272px] h-3 bg-[#463420]"></div>
            </div>
            <br />
            <div>
                <p class="max-w-[570px] text-[15px] font-semibold">
                    “<span class="text-4xl italic">The Fastest Treat</span>, as
                    you order you seet". Feelin for an exquisite dishes or urban
                    style street foods? Amber eats has a menu just for you.
                </p>
            </div>
            <button
                class="bg-[#5F462B] py-5 px-16 w-[250px] text-[16px] text-white font-bold h-[74px] mb-20"
            >
                VIEW MENU
            </button>
        </div>
        <div class="w-[650px] h-[500px]">
            <img
                src="https://s3-alpha-sig.figma.com/img/2922/1f95/bb95a4a7e1a3fd1ad00feb7274898a6a?Expires=1658102400&Signature=PQEQ~3KQ~~dy8ggDI1DiC03xbUm9xDiHqA1EM8BC~ok-IIqzJZiSnj4UJaErN8mJbhASRMyTpOpXhNnaRfkFjrqHD9ANirirHHIE0MClEGbmMkYdl31cenm7qee8zOGCIJjKKYUOx~rhS8BiVwW6O30hdXlRAqTPZbDj08I~QR7dEfEMuDJkI2gWA6CbcUjpRE2rycjz5auBdf0KNO-rH7jIVbezdgxH~I6k5TGyde440zAbCnn7l19Bfm5LiAajQSHj2zNmOq2lnK7OqKL68t8mq21fB469ZkM07IbNOAtPl5dpkYytZ9Cgk0sd7Ap-wydMBZm~PLpSWzpA9qu4Cg__&Key-Pair-Id=APKAINTVSUGEWH5XD5UA"
                alt=""
                class="w-full h-full object-cover"
            />
        </div>
    </section>
    <!-- view-menu-end -->

    <!-- view-menu -->
    <section class="flex justify-around flex-row-reverse min-h-min">
        <div class="grid grid-flow-row gap-10">
            <div class="flex items-center justify-around">
                <p class="text-[#463420] text-6xl">
                    CONTACT <br />
                    <span class="font-bold">US</span>
                </p>
                <div class="w-[272px] h-3 bg-[#463420]"></div>
            </div>
            <br />
            <div>
                <p class="max-w-[570px] text-[15px] font-semibold">
                    “Great food is what we do” and we do it like no one else
                    can. From our fine dining dishes to the most tastiest of
                    street style foods, amber eats have a menu just for your
                    cravings.
                </p>
            </div>
            <button
                class="bg-[#5F462B] py-5 px-16 w-[250px] text-[16px] text-white font-bold h-[74px] mb-20"
            >
                CONTACT US
            </button>
        </div>
        <div class="w-[650px] h-[500px]">
            <img
                src="https://images.pexels.com/photos/67468/pexels-photo-67468.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1"
                alt=""
                class="w-full h-full object-cover"
            />
        </div>
    </section>
    <!-- view-menu-end -->
</main>

<!-- hero-end -->
