<div>
    <div
        class="min-h-[200px] max-w-[1596px] mx-auto bg-center bg-cover bg-[url('https://s3-alpha-sig.figma.com/img/e37a/7dba/2fefd2de31983b05a50b86548ac61770?Expires=1658707200&Signature=Nz2GkxivatiPCBEXwHxDUE9qFN03utsVwnNbwiucQM~xixjGG1QIZ~LVPsKs3ZEiiDTSGVQYT72kehCf5vDOGo-49oaV9XQqmgikslTc2ipyDHO1MGXVxECNd~sGfDawwkrNS9SO6Pw-O8cIDzIzP8g1hwQl5CWlnHVqGiudU1jcnyvmjcH55tHrdNPKxcM86X3~0x798bWhk382Akhxf5u-ChDaRMuPALe2upS6qGnX6cQ-Y98LRWWAvCOxLNYzyelPSmDTFJW75M9~SUoh39LKGSargcX5PlTSXYoro6ZTcMewYi7dRFopkrqhAxwiLlBsEaNp4jyBGwL7gKs9jg__&Key-Pair-Id=APKAINTVSUGEWH5XD5UA')] flex flex-wrap justify-center items-center"
    >
        <h1
            class="w-4/5 mx-auto text-center text-6xl text-white border-b-[5px] border-white"
        >
            Purchase Successful
        </h1>
    </div>
    <div class="w-full h-full flex justify-center items-center p-20">
        <div class="min-h-[700px] w-[600px] bg-white rounded-lg">
            <div class="grid grid-flow-row gap-1 p-20">
                <!-- Back Button -->
                <!-- <div>
                    <button class="text-white bg-gray-400 rounded-full px-2">
                        &leftarrow;
                    </button>
                </div> -->
                <!-- Order info -->
                <div class="my-10">
                    <h3>
                        Transaction ID #{{
                            transaction.id.toString().padStart(3, "0")
                        }}
                    </h3>
                    <p>{{ transaction.date | date }}</p>
                </div>

                <div class="grid justify-center gap-5 items-center">
                    <h2>Your order is on its way</h2>

                    <img src="/assets/lf20_q5evpnci.json].png" alt="" />
                </div>

                <h2 class="text-3xl m-5 text-amber-700">Here's your receipt</h2>

                <div class="min-h-[100px]">
                    <div class="grid grid-cols-4 italic">
                        <p class="col-span-2 text-left">Product Description</p>
                        <p class="text-right">Quantity</p>
                        <p class="text-center">Amount</p>
                    </div>
                    <hr />
                    <div
                        *ngFor="let item of order"
                        class="grid grid-cols-4 text-right text-xl px-10"
                    >
                        <p class="text-left col-span-2">{{ item.name }}</p>
                        <p>{{ item.amount | number }}</p>
                        <p>
                            {{ item.price | currency: "JMD":"JMD$" }}
                        </p>
                    </div>
                </div>
                <h3 class="font-semibold text-right p-2">
                    Total:<span>{{
                        transaction.payment_amount
                            | currency: "JMD":"JMD$":"3.2-2":"en-US"
                    }}</span>
                </h3>
                <div class="justify-center flex items-center">
                    <button
                    routerLink="/home"
                        type="submit"
                        class="px-20 py-5 rounded-3xl text-white bg-[#5F462B] text-2xl my-10"
                    >
                        Back to Home
                    </button>
                </div>

                <p class="text-center">
                    Have any troubles? please contact<span
                        ><a href="" class="text-red-500"> the support</a></span
                    >
                </p>
            </div>
        </div>
    </div>
</div>
