<mat-dialog-content>
    <h2>Choose Your Sides</h2>
    <div class="con">
        <div class="rec">
            <div class="img" *ngFor="let product of products">
                <div class="imgCon">
                    <img [src]="product.imageUrl" alt="" />
                </div>
                <div class="detail">
                    <div class="info">
                        <p>{{ product.name }}</p>
                        <p>{{ product.price | currency }}</p>
                    </div>
                    <div class="button">
                        <button mat-raised-button (click)="addSide(product.id)">
                            Add
                        </button>
                    </div>
                </div>
            </div>
        </div>
        <div class="order">
            <h3>Your Order</h3>
            <div class="card">
                <div class="orderDet">
                    <div class="header">
                        <h3>{{ product.name }}</h3>
                        <div><i class="fa-solid fa-star"></i> 8</div>
                    </div>
                    <span>{{ product.description | slice: 0:50 }}</span>
                </div>
                <img [src]="product.imageUrl" alt="" />
            </div>
            <button mat-dialog-close class="close-btn">Return to Menu</button>
        </div>
    </div>
</mat-dialog-content>
