.top-card{
    background-color: #5F462B;
    position: absolute;
  /* display: none; */
  width: 60em;
  height: 30em;
  top: 50%;
  left: 50%;
  transform: translate(-35%, 20%);
  right: 0;
  bottom: 0;
  /* background-color: rgba(0,0,0,0.5); */
  /* z-index: 2; */
  cursor: pointer;
  opacity: 20%;
}
.text-card{
    position: absolute;
  width: 30em;
  height: 15em;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #5F462B;
  top: 50%;
  left: 50%;
  transform: translate(-60%,35%);
  /* z-index: 2; */
  cursor: pointer;
  color: white;
  font-family: italiana;
  font-size: 30px;
  padding: 30px;
}

.top2-card{
    background-color: #5F462B;
    position: absolute;
  width: 60em;
  height: 30em;
  top: 100%;
  left: 50%;
  transform: translate(-65%, 90%);
  right: 0;
  bottom: 0;
  cursor: pointer;
  opacity: 20%;
}

.text2-card{
    position: absolute;
    width: 30em;
    height: 15em;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #5F462B;
    top: 100%;
    left: 50%;
    transform: translate(-35%,100%); 
    cursor: pointer;
    color: white;
    font-family: italiana;
    font-size: 30px;
    padding: 30px;
}