<section class="bg-[#EAEAE6]">
    <div class="relative w-[100%]">
        <div
            class="absolute z-10 flex justify-center items-center w-full h-full capitalize"
        >
            <div class="border-b-4 border-b-white w-[60%] m-auto">
                <h1
                    class="text-white text-center text-[3vw] pb-3 font-['Italiana'] font-bold"
                >
                    About Us
                </h1>
            </div>
        </div>
        <img
            class="w-full h-[35vh] object-cover brightness-50"
            src="https://images.squarespace-cdn.com/content/v1/54fb1c14e4b0a61cf908cda9/1583509946458-BUMR8FC3JOY0BEU04U6X/sepia_crw2020_winepairings2.jpg?format=1500w"
            alt=""
        />
    </div>
    <div class="min-h-[170vh]">
        <div class="top-card"></div>
        <div class="text-card">
            <h1 class="text-6xl md:text-8xl">History</h1>
            <p class="text-lg md:text-3xl lg:text-5xl">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
                eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut
                enim ad minim veniam, quis nostrud exercitation ullamco laboris
                nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor
                in reprehenderit in voluptate velit esse cillum dolore eu fugiat
                nulla pariatur.
            </p>
        </div>
        <div class="top2-card"></div>
        <div class="text2-card">
            <h1 class="text-6xl md:text-8xl">Today</h1>
            <p class="md:text-3xl text-lg lg:text-5xl overflow-hidden">
                Sed ut perspiciatis unde omnis iste natus error sit voluptatem
                accusantium doloremque laudantium, totam rem aperiam, eaque ipsa
                quae ab illo inventore veritatis et quasi architecto beatae
                vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia
                voluptas sit aspernatur aut odit aut fugit, sed quia
                consequuntur magni dolores eos qui ratione voluptatem sequi
                nesciunt.
            </p>
        </div>
    </div>
</section>
