<section class="bg-[#F5F5F5]">
    <div class="relative w-[100%]">
        <div
            class="absolute z-10 flex justify-center items-center w-full h-full capitalize"
        >
            <div class="border-b-4 border-b-white w-[60%] m-auto">
                <h1
                    class="text-white text-center text-[3vw] pb-3 font-['Italiana'] font-bold"
                >
                    Your Cart
                </h1>
            </div>
        </div>
        <img
        [class]="['w-full', width > height ? 'h-[30vh]' : 'h-[15vh]', 'object-cover', 'brightness-50']"
            src="https://images.squarespace-cdn.com/content/v1/54fb1c14e4b0a61cf908cda9/1493775538141-BLDK7ZNSG5KNXEQLQJPY/sepia-1-16-1517116rt.jpg?format=1500w"
            alt=""
        />
    </div>

    <div class="w-[85%] m-auto" *ngIf="cart.length > 0">
        <div class="grid grid-cols-[8fr_2fr] py-24 gap-[1vw]">
            <table class="w-full" >
                <div class="scroll-table">
                    <thead
                        class="bg-[#5F462B] text-white uppercase font-medium tracking-widest"
                    >
                        <th class="p-[1vw] text-[1vw]">
                            Products
                        </th>
                        <th class="p-[1vw] text-[1vw] text-center">Price</th>
                        <th class="p-[1vw] text-[1vw] text-center">Quantity</th>
                        <th class="p-[1vw] text-[1vw] text-center">Total</th>
                    </thead>
                                    
                    <tbody>
                        <tr
                            *ngFor="let cItem of cart; let i = index"
                            class="relative border-b-2"
                        >
                            <td class="flex my-[0.5vw] gap-10">
                                <div class="w-[15vw] h-[10vw]">
                                    <img
                                        class="object-cover w-full h-full"
                                        src="{{ cItem.imageUrl }}"
                                        alt=""
                                    />
                                </div>
                                <div class="w-[30vw] pr-[8vw] flex flex-col">
                                    <div>
                                        <h3 class="text-[1.2vw] font-semibold">
                                            {{ cItem.name }}
                                        </h3>
                                    </div>
                                    <div>
                                        <p class="text-[0.8vw] prose">
                                            {{ cItem.description }}
                                        </p>
                                    </div>

                                    <div class="mt-auto">
                                        <button
                                            type="button"
                                            class="text-[0.9vw] p-[0.3vw] inline-flex text-gray-400 hover:text-gray-500"
                                            (click)="deleteProduct(cItem.id)"
                                        >
                                            Remove
                                        </button>
                                        <div class="absolute top-0 right-0 m-4">
                                            <button
                                                type="button"
                                                class="text-[0.9vw] p-[0.3vw] inline-flex text-gray-400 hover:text-gray-500"
                                                (click)="
                                                    deleteProduct(cItem.id)
                                                "
                                            >
                                                <i class="fa-solid fa-x"></i>
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </td>

                            <td class="text-center">
                                <div class="font-medium text-[1vw]">
                                    <div class="font-medium" #itemUnitPrices>
                                        {{ cItem.price | currency }}
                                    </div>
                                </div>
                            </td>

                            <td>
                                <div
                                    class="font-medium m-auto flex flex-col justify-center items-center text-[1vw]"
                                >
                                    <i
                                        class="fa-solid fa-angle-up p-2 rounded-full hover:bg-[#0002]"
                                        style="cursor: pointer"
                                        (click)="onQuantity(cItem.id, 1)"
                                    ></i>
                                    <span>{{ cItem.amount }}</span>
                                    <i
                                        class="fa-solid fa-angle-down p-2 rounded-full hover:bg-[#0002]"
                                        style="cursor: pointer"
                                        (click)="onQuantity(cItem.id, -1)"
                                    ></i>
                                </div>
                            </td>

                            <td>
                                <div
                                    class="font-bold flex justify-center items-center text-[1vw]"
                                >
                                    {{ cItem.price * cItem.amount | currency }}
                                </div>
                            </td>
                        </tr>
                    </tbody>
                </div>
            </table>

            <!-- purchase summary -->
            <div>
                <div
                    class="summary bg-white w-[20vw] flex-flex-col text-[#5F462B] text-[1vw] shadow-md flex flex-col"
                >
                    <div
                        class="mb-[1.1vw] w-[12vw] mx-auto"
                    >
                        <h1 class="text-center pt-[1.5vw] text-[#5F462B] text-[1.3vw] font-medium">
                            Purchase Summary
                        </h1>
                    </div>
                    <div class="text-center py-[3vw] text-[#FFBC10] text-[4vw]">
                        $
                    </div>

                   <div class="px-[1.2vw] pb-[2vw]">
                    <div
                    class="flex justify-between items-center border-b border-[#5F462B] py-[0.5vw]"
                >
                    <div>Subtotal</div>
                    <div>
                        {{
                            grandTotal - (grandTotal / 100) * 1.5 | currency
                        }}
                    </div>
                </div>
                <div
                    class="flex justify-between items-center border-b border-[#5F462B] py-[0.5vw]"
                >
                    <div>Tax(1.5%)</div>
                    <div>{{ (grandTotal / 100) * 1.5 | currency }}</div>
                </div>
                <div
                    class="flex justify-between items-center border-b border-[#5F462B] py-[0.4vw] my-[0.2vw] font-bold"
                >
                    <div>Total Due</div>
                    <div>{{ grandTotal | currency }}</div>
                </div>

                   </div>
                    <div class="flex justify-end mt-auto">
                        <button
                        routerLink="/checkout"
                        class="text-[#FFBC10] flex justify-between py-[0.4vw] px-[0.6vw] bg-[#5F462B] items-center w-full ml-7 shadow-xl"
                    >
                        Check Out
                        <mat-icon>check</mat-icon>
                    </button>
                    </div>
                </div>

                <div class="text-center pt-[2vw]">
                    <button 
                    class=" bg-[#FFBC10] text-[#5F462B] p-[0.3vw] text-[1vw] w-full flex items-center justify-center"
                        (click)="emptyCart()"
                        routerLink="/menu"
                    >
                        Empty Cart
                        <mat-icon
                        >delete</mat-icon>
                    </button>
                </div>
                <!-- cards -->

                <div>
                    <div
                        class="border-b-[0.15vw] flex justify-center text-center mx-auto border-[#333] mt-10 w-[20vw]"
                    >
                        <div
                            class="uppercase font-medium text-[1.2vw] text-[#333] w-[35rem] mb-2"
                        >
                            Accepted Cards
                        </div>
                    </div>

                    <div class="justify-between flex items-center px-20">
                        <div>
                            <img
                                class="w-[3.4vw]"
                                src="https://www.7krave.com/img/cards/visa.png"
                                alt=""
                            />
                        </div>
                        <div>
                            <img
                                class="w-[3.4vw]"
                                src="https://www.7krave.com/img/cards/mastercard.png"
                                alt=""
                            />
                        </div>
                        <div>
                            <img
                                class="w-[4vw]"
                                src="https://www.7krave.com/img/cards/keycard.png"
                                alt=""
                            />
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

     <section *ngIf="cart.length < 1" class="bg-[#EAEAE6] h-[100vh] flex justify-center flex-col">
        <h1 class="text-5xl text-center text-[#5F462B] py-10">Your Cart is Empty</h1>
        <div class="mx-auto ">
            <img src="/assets/img/trolly.svg" alt="trolly" class="pl-[175px]">
        </div>
        <div class="flex justify-center py-10 mt-10 border-t-2 border-t-[#5F462B] w-[40%] mx-auto">
            <button routerLink="/menu"
            class="py-10 px-20 bg-[#5F462B] block w-fit text-white font-medium text-4xl"
            >Order Now</button>
        </div>
     </section>
</section>
