.container {
	display: flex;
}

.rating-list {
	display: inline-block;
	list-style: none;
}

.rating-list li {
	font-size: 50px;
	color: white;
	padding: 0 2px;
}

.rating-list li:hover > mat-icon {
	color: white;
	background-color: #ffd700;
}

.rating-list li.selected > mat-icon {
	color: white;
	background-color: #ffd700;
}

mat-icon {
	border: 1px solid lightgray;
	background-color: lightgray;
	padding: 0px;
	margin: 3px;
	border-radius: 5px;
}
