*{
  background: #fff;
}
.form-container {

  padding-top: 1.5rem;
  height: calc(100vh - 120px);
}

.head-text {
  text-align: center;
  text-transform: uppercase;
  font-size: 25px;
  margin: 1rem 0;
  color: #00B5AD;
}

.form {
  box-shadow: 0 0 0.2rem #2c2c2e;
  margin: 0 auto;
  /* background: #edf7ee; */
  /* background: rgb(204, 220, 253); */
  background: #fff;
  padding: 20px;
  width: 350px;
  border-radius: 5px;
}

.form input,
.form textarea {
  padding: 10px 8px;
  color: #2c2c2e;
  margin-bottom: 1.5rem;
  width: 100%;
  outline: none;
  border-radius: 5px;
  border: 1.5px solid black;
}

.form button {
  padding: 5px 8px;
  /* background: #04aa6d; */
  background: #00B5AD;
  color: #fff;
  border-radius: 5px;
}

.form button:hover {
  opacity: 0.5;
}

