@import "~@angular/material/prebuilt-themes/indigo-pink.css";

@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
    height: 100%;
}
body {
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
}

* {
    box-sizing: border-box;
}

input,
select,
textarea {
    font: inherit;
}

::-webkit-scrollbar {
    width: 6px;
    height: 5px;
    background-color: rgba(0, 0, 0, 0.1);
}
::-webkit-scrollbar-thumb {
    background-color: #757a8f;
}

::-webkit-scrollbar-track {
    background-color: rgba(255, 255, 255, 0.1);
    border-radius: 5px;
}

.main-container {
    width: 78%;
    margin: 0 auto;
}
