@import "~@angular/material/prebuilt-themes/indigo-pink.css";
@import url("https://fonts.googleapis.com/css2?family=Italiana&family=Sacramento&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
	height: 100%;
	zoom: 95%;
}
body {
	margin: 0;
	font-family: Roboto, "Helvetica Neue", sans-serif;
	background-color: #eaeae6;
}

* {
	box-sizing: border-box;
	/* border: 1px solid black; */
}

input,
select,
textarea {
	font: inherit;
}

::-webkit-scrollbar {
	width: 6px;
	height: 5px;
	background-color: rgba(0, 0, 0, 0.1);
}
::-webkit-scrollbar-thumb {
	background-color: #757a8f;
}

::-webkit-scrollbar-track {
	background-color: rgba(255, 255, 255, 0.1);
	border-radius: 5px;
}

.main-container {
	width: 78%;
	margin: 0 auto;
}

.hazel-snackbar {
	background: #5f462b;
	color: white;
}

.hazel-snackbar button {
	background-color: #5f462b;
	color: white;
	border: none;
}

.modal .mat-dialog-container {
	padding: 0;
	margin: 0;
	overflow: hidden;
	box-shadow: 0px 9px 10px -3px rgba(0, 0, 0, 0.75);
}
