section {
  width: 100%;
  height: auto;
}

.main-container {
  width: 78%;
  margin: 0 auto;
}

.qty {
  color: grey;
  margin-right: 20px;
}

.hero {
  display: grid;
  width: 100%;
  grid-template-columns: repeat(4, 1fr);
  text-align: center;
}

.hero-section {
  width: 100%;
  height: auto;
  margin-top: 2rem;
}

.hero-section img {
  width: 100%;
  height: 250px;
  object-fit: cover;
  transform: translateZ(0px);
}

.hero-information {
  margin-top: 1rem;
  padding-bottom: 1.25rem;
  border-bottom: 1px solid #e4e7eb;
}
.info-group {
  margin-top: 0.25rem;
  color: #212529;
}

.open-span {
  color: #008000;
}

/** STYLING FOR MENU CATEGORY AREA**/
.meal-list {
    margin-top: 4rem;
}

.notice {
  margin-top: 2.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.notice div {
  display: flex;
  align-items: center;
}

.notice div span {
  display: flex;
  align-items: center;
  font-weight: 500;
  font-size: 20px;
  color: #ff0000;
}

.notice div span svg {
  width: 22px;
  margin-right: 1rem;
  fill: #ff0000;
}

::ng-deep .mat-tab-group.mat-primary .mat-ink-bar, .mat-tab-nav-bar.mat-primary .mat-ink-bar {
    background-color: rgb(0, 181, 173);
}

.meal-section {
  width: 100%;
  height: auto;
  display: none;
  flex-wrap: wrap;;
  margin-top: 2rem
}
.meal-section.active {
  display: flex;
}

.meal-card-container {
  width: 33.33%;
  padding: 0 0.5rem;
  margin-bottom: 1rem;
  margin-top: 1rem;
}

.meal-card {
  width: 100%;
  height: 240px;
  background-color: #fff;
  border: 1px solid rgb(231, 231, 231);
  border-radius: 5px;
  display: flex;
  justify-content: space-between;
  overflow: hidden;
  box-shadow: rgb(50 50 93 / 25%) 0px 2px 5px -1px, rgb(0 0 0 / 25%) 0px 1px 3px -1px
}

.meal-details-section {
  flex: 1;
  padding: 16px 5px 16px 16px;
}

.meal-details {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
}

.meal-picture {
  width: 130px;
  height: 100%;
}

.meal-picture img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.meal-title {
  font-weight: 600;
  margin-bottom: 0.5rem;
  color: #212529;
}

.meal-info {
margin-top: auto;
}

.meal-desc {
  color: rgb(118, 118, 118);
  font-size: 13px;
  line-height: 1.5;
  /* height: 105px; */
  padding: 0 4px;
  overflow: auto;

   text-overflow:ellipsis;
  overflow:hidden;
  /* // Addition lines for 2 line or multiline ellipsis */
  display: -webkit-box !important;
  -webkit-line-clamp: 4;
  -webkit-box-orient: vertical;
  white-space: normal;

}

.meal-price {
  margin-bottom: 4px;
}
.m-price {
  font-weight: 700;
  color: hsl(31, 38%, 50%);
  line-height: 2;
}

.control-section {
  display: flex;
  flex-direction: row-reverse;
  justify-content: flex-end;
  align-items: center;
}
.control-section input {
  height: 37.2px;
  width: 42px;
  padding-left: 0.5rem;
  margin-right: 8px;
  border: 0;
  border: 1px solid #c3c4c5;
}
.control-section input:focus {
  outline: 0;
}

.control-section button {
  background: #5f462b;
  border: 0;
  border-bottom: 2px solid #cf7e3b;
  border-radius: 3px;
  color: #fff;
  padding: 8px 10px;
  display: flex;
  align-items: center;
  cursor: pointer;
}

.control-section button span svg {
  fill: #fff;
  width: 16px;
  margin-right: 8px;
}