<section>
  <div class="main-container">
    <div class="content">
      <div class="hero-section">
        <img
          src="https://content.7krave.com/restaurants/149/images/1732/a_149_r_149_1732_large.jpg"
          alt=""
        />
      </div>
      <!-- <div class="hero-information">
      <div class="info-group">
          <span>51 Hope Road, Kingston</span>
      </div>
      <div class="info-group">
          <span class="open-span">Open</span><span> · American, International | Lunch, Dinner, Drinks</span>
      </div>
      <div class="info-group">
          <span>Opening Hours: Mon - Fri 11:00 AM - 09:00 PM  ·  Sat 02:00 PM - 09:30 PM  ·  Sun 11:00 AM - 09:00 PM</span>
      </div>

  </div> -->
      <div class="menu-category">
        <!-- <div class="notice">
          <div>
              <span>
                  <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" id="Layer_1" x="0px" y="0px" viewBox="0 0 466.008 466.008" style="enable-background:new 0 0 466.008 466.008;" xml:space="preserve">
                      <g>
                          <g>
                              <path d="M233.004,0C104.224,0,0,104.212,0,233.004c0,128.781,104.212,233.004,233.004,233.004    c128.782,0,233.004-104.212,233.004-233.004C466.008,104.222,361.796,0,233.004,0z M244.484,242.659l-63.512,75.511    c-5.333,6.34-14.797,7.156-21.135,1.824c-6.34-5.333-7.157-14.795-1.824-21.135l59.991-71.325V58.028c0-8.284,6.716-15,15-15    s15,6.716,15,15v174.976h0C248.004,236.536,246.757,239.956,244.484,242.659z"/>
                          </g>
                        </g>
                  </svg>
              </span>
              <span>
                  Estimated Delivery Time: 80 - 95 Min
              </span>
          </div>
      </div> -->
      </div>
    </div>
  </div>
</section>
<section>
  <div class="main-container">
    <div class="content">
      <div class="meal-section active">
        <mat-spinner *ngIf="products.length === 0"></mat-spinner>
        <div class="meal-card-container" *ngFor="let product of products">
          <div class="meal-card">
            <div class="meal-details-section">
              <div class="meal-details">
                <div class="meal-title">
                  <span>{{ product.name }}</span>
                </div>
                <div class="meal-desc">
                  <span>{{ product.description }}</span>
                </div>
                <div class="meal-price">
                  <span class="m-price">{{ product.price | currency }}</span>

                  <span class="qty">/{{ product.quantity | number }}</span>
                </div>

                <div class="control-section">
                  <button
                    class="atc-btn"
                    routerLink="/details/{{ product.id }}"
                  >
                    <span>
                      <svg
                        xmlns="http://www.w3.org/2000/svg"
                        xmlns:xlink="http://www.w3.org/1999/xlink"
                        version="1.1"
                        id="Capa_1"
                        x="0px"
                        y="0px"
                        viewBox="0 0 60 60"
                        style="enable-background: new 0 0 60 60"
                        xml:space="preserve"
                      >
                        <path
                          d="M11.68,13l-0.833-5h-2.99C7.411,6.28,5.859,5,4,5C1.794,5,0,6.794,0,9s1.794,4,4,4c1.859,0,3.411-1.28,3.858-3h1.294l0.5,3  H9.614l5.171,26.016c-2.465,0.188-4.518,2.086-4.76,4.474c-0.142,1.405,0.32,2.812,1.268,3.858C12.242,48.397,13.594,49,15,49h2  c0,3.309,2.691,6,6,6s6-2.691,6-6h11c0,3.309,2.691,6,6,6s6-2.691,6-6h4c0.553,0,1-0.447,1-1s-0.447-1-1-1h-4.35  c-0.826-2.327-3.043-4-5.65-4s-4.824,1.673-5.65,4h-11.7c-0.826-2.327-3.043-4-5.65-4s-4.824,1.673-5.65,4H15  c-0.842,0-1.652-0.362-2.224-0.993c-0.577-0.639-0.848-1.461-0.761-2.316c0.152-1.509,1.546-2.69,3.173-2.69h0.791  c0.014,0,0.025,0,0.039,0h38.994C57.763,41,60,38.763,60,36.013V13H11.68z M4,11c-1.103,0-2-0.897-2-2s0.897-2,2-2s2,0.897,2,2  S5.103,11,4,11z M46,45c2.206,0,4,1.794,4,4s-1.794,4-4,4s-4-1.794-4-4S43.794,45,46,45z M23,45c2.206,0,4,1.794,4,4s-1.794,4-4,4  s-4-1.794-4-4S20.794,45,23,45z M58,36.013C58,37.66,56.66,39,55.013,39H16.821l-4.77-24H58V36.013z"
                        />
                      </svg>
                    </span>
                    <span>View Details</span>
                  </button>
                </div>
              </div>
            </div>
            <div class="meal-picture">
              <img src="{{ product.imageUrl }}" alt="" />
            </div>
          </div>
        </div>
      </div>
      <!-- <mat-card *ngFor="let product of products" style="margin-top: 12px">
        <mat-card-header>
          <mat-card-title>{{ product.name }}</mat-card-title>
          <mat-card-subtitle
            >$/{{ product.price }} {{ product.quantity }}
          </mat-card-subtitle>
        </mat-card-header>
        <mat-card-content>
          <p>
            {{ product.description }}
          </p>
          <img style="height: 100px; width: 100px" src="{{ product.imageUrl }}" />
        </mat-card-content>
        <mat-card-actions>
          <button routerLink="/details/{{ product.id }}" mat-button>
            Buy Meal
          </button>
        </mat-card-actions>
      </mat-card> -->
      <mat-paginator
        [length]="products.length"
        [pageSize]="10"
        [pageSizeOptions]="[5, 10, 25, 100]"
        aria-label="Select page"
      >
        <mat-spinner *ngIf="products.length === 0"></mat-spinner>
      </mat-paginator>
    </div>
  </div>
</section>
<div class="hero" style="padding: 13px"></div>
