<div class="details-contain" *ngIf="product">
    <!-- <h1 class="detHeading">Dish Details</h1> -->
    <div class="relative w-[100%]">
        <div class="absolute z-10 flex justify-center items-center w-full h-full capitalize">
            <div class="border-b-4 border-b-white w-[60%] m-auto">
                <h1 class="text-white text-center text-[3vw] pb-3 font-['Italiana'] font-bold">Menu Details</h1>
            </div>
        </div>
        <img class="w-full h-[30vh] object-cover brightness-50" src="https://images.squarespace-cdn.com/content/v1/54fb1c14e4b0a61cf908cda9/1583509946458-BUMR8FC3JOY0BEU04U6X/sepia_crw2020_winepairings2.jpg?format=1500w" alt="" />
    </div>
    <div class="flexBx">
        <div class="left">
            <img [src]="product.imageUrl" alt="product Image">
        </div>

        <div class="right">
            <h2 class="prodName">{{product.name}}</h2>
            <br>
            
            <h3 class="prodPrice">{{product.price | currency}}</h3>
            <p class="prodQty">{{ product.quantity | number }} Available</p>
            <p class="prodDesc">{{product.description}}</p>
            
          <!-- <button class="detailsBtn" routerLink="/order-success">ORDER NOW</button> -->
          <div class="btn-contain">
            <button class="details-btn1"
                (click)="addProduct(product.id)"
            >
                Order Now
            </button>
            <button class="details-btn2" [routerLink]="'/edit/' + product.id">
                Edit Product
            </button>
          </div>
        </div>
    </div>
</div>