<div class="hero main-container" style="padding: 13px">
  <mat-card *ngIf="product; else spinner" style="margin-top: 12px" class="card-container">
    <mat-card-header>
      <!-- <mat-card-subtitle>{{ product.id }} </mat-card-subtitle> -->
      <mat-card-title>{{ product.name }}</mat-card-title>
      <mat-card-subtitle
        >{{ product.price | currency }} / {{ product.quantity | number }}
      </mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
      <p>
        {{ product.description }}
      </p>
      <div class="img-container">
        <img src="{{ product.imageUrl }}" />
      </div>
    </mat-card-content>
    <mat-card-actions class="btns">
      <button routerLink="/order" mat-button class="order-btn">Order Now</button>
      <button [routerLink]="'/edit/' + product.id" mat-button class="edit-btn">
        Edit Product
      </button>
    </mat-card-actions>
  </mat-card>

  <ng-template #spinner>
    <mat-spinner></mat-spinner>
  </ng-template>
</div>
