<app-header></app-header>

<main>
  <mat-stepper [linear]="true" #stepper>
    <mat-step [stepControl]="userTypeForm">
      <ng-template matStepLabel>User Type</ng-template>
      <form [formGroup]="userTypeForm">
        <mat-form-field appearance="fill">
          <mat-label>Name</mat-label>
          <input
            matInput
            placeholder="Last name, First name"
            formControlName="firstCtrl"
            required
          />
        </mat-form-field>
        <div>
          <button mat-button matStepperNext>Next</button>
        </div>
      </form>
    </mat-step>

    <mat-step [stepControl]="deliveryTypeForm" label="Fill out your address">
      <ng-template matStepLabel>How will you get your food?</ng-template>
      <form [formGroup]="deliveryTypeForm">
        <mat-form-field appearance="fill">
          <mat-label>Address</mat-label>
          <input
            matInput
            formControlName="secondCtrl"
            placeholder="Ex. 1 Main St, New York, NY"
            required
          />
        </mat-form-field>
        <div>
          <button mat-button matStepperPrevious>Back</button>
          <button mat-button matStepperNext>Next</button>
        </div>
      </form>
    </mat-step>

    <mat-step [stepControl]="paymentTypeForm">
      <ng-template matStepLabel>Done</ng-template>
      <form [formGroup]="paymentTypeForm">
        <mat-form-field appearance="fill">
          <mat-label>Address</mat-label>
          <input
            matInput
            formControlName="secondCtrl"
            placeholder="Ex. 1 Main St, New York, NY"
            required
          />
        </mat-form-field>
        <div>
          <button mat-button matStepperPrevious>Back</button>
          <button mat-button matStepperNext>Next</button>
        </div>
      </form>
    </mat-step>
  </mat-stepper>
</main>

<app-footer></app-footer>
