.main-content {
    display: flex;
    padding: 4rem 0;
}
::ng-deep .mat-ripple {
    display: none !important;
}
.col-1 {
    flex: 1;
    width: 330px;
    padding-right: 0.5rem;
}

.form-section {
    padding: 3rem 2rem 6rem 2rem;
    background-color: #fff;
    border-radius: 8px;
    overflow: hidden;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 3px 0px,
        rgba(0, 0, 0, 0.06) 0px 1px 2px 0px;
}

.col-2 {
    padding-left: 0.5rem;
    width: 275px !important;
}
::ng-deep .mat-step-header .mat-step-icon-selected,
::ng-deep .mat-horizontal-stepper-header .mat-step-icon {
    background-color: #e0a04f;
}
::ng-deep .mat-horizontal-content-container {
    margin-top: 25px !important;
    overflow: initial !important;
}

::ng-deep .mat-radio-label-content {
    font-weight: 400 !important;
    color: #2b2b2b !important;
    margin-right: 1.75rem;
}

::ng-deep .mat-radio-button.mat-accent .mat-radio-inner-circle {
    background-color: #e0a04f !important;
}

::ng-deep
    .mat-radio-button.mat-accent.mat-radio-checked
    .mat-radio-outer-circle {
    border-color: #e0a04f !important;
}

::ng-deep .mat-form-field.mat-focused .mat-form-field-label {
    color: #2b2b2b !important;
}

::ng-deep .mat-focused .mat-form-field-underline .mat-form-field-ripple {
    background-color: #e0a04f !important;
}
::ng-deep .mat-badge-warn .mat-badge-content {
    background-color: #e0a04f !important;
}

::ng-deep .mat-form-field {
    margin-top: 2rem !important;
    width: 100% !important;
}

::ng-deep .mat-form-field-appearance-fill .mat-form-field-flex {
    background-color: transparent;
}

::ng-deep .mat-checkbox-checked .mat-checkbox-background {
    background-color: #e0a04f !important;
}

.nextbtn {
    margin-top: 4rem;
    background-color: #e0a04f !important;
}

::ng-deep .mat-raised-button {
    margin-right: 1rem !important;
}
::ng-deep .nextbtn.mat-raised-button {
    color: #fff !important;
}

.form-row {
    display: flex;
    width: 100%;
}

.form-row .form-row-col-1 {
    flex: 1;
    padding-right: 1rem;
}
.form-row .form-row-col-2 {
    flex: 1;
    padding-left: 1rem;
}
.form-row .form-row-col-middle {
    flex: 1;
    padding-left: 0 1rem;
}
::ng-deep .mat-stepper-horizontal-line {
    min-width: auto !important;
}

.summary-section {
    margin-bottom: 2rem;
    width: 100%;
    height: auto;
    background-color: #fff;
    border-radius: 8px;
    overflow: hidden;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 3px 0px,
        rgba(0, 0, 0, 0.06) 0px 1px 2px 0px;
    padding: 0 2rem 2rem 2rem;
    position: relative;
}
.orders-section {
    max-height: 235px;
    overflow: auto;
}
.orders {
    margin-bottom: 2rem;
}

.order-total-section {
    width: 100%;
    height: auto;
    background-color: #fff;
    border-radius: 8px;
    overflow: hidden;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 3px 0px,
        rgba(0, 0, 0, 0.06) 0px 1px 2px 0px;
    padding: 0 2rem 0 2rem;
}
.summary-header {
    position: sticky;
    top: 0;
    z-index: 2;
    background-color: #fff;
}
.summary-header {
    padding: 2rem 0 2rem 0;
    color: #000000de;
    font-size: 16px;
    font-weight: 500;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.order-total-header {
    padding: 1rem 0 2rem 0;
    color: #000000de;
    font-size: 16px;
    font-weight: 500;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.total-section {
    display: flex;
    flex-direction: column;
    margin-top: 2rem;
    padding-top: 2rem;
    border-top: 1px solid rgb(200, 200, 200);
}
.total-section .rrow {
    width: 100%;
    display: flex;
    justify-content: space-between;
    width: 100%;
    font-size: 12px;
    margin-bottom: 0.5rem;
    padding-right: 0.5rem;
}

.summary-product-image {
    width: 100%;
    height: auto;
}
.summary-product-image img {
    width: 100%;
    height: 120px;
    object-fit: cover;
}

.summary-meal-details-section {
    padding-top: 1.5rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.summary-meal-details {
    display: flex;
    flex-direction: column;
    flex: 1;
}

.details-header {
    display: flex;
    justify-content: space-between;
}
.summary-meal-title {
    color: #2b2b2b;
    font-weight: 500;
    padding-right: 1rem;
}

.summary-meal-quantity {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    min-width: 85px;
}

.summary-meal-quantity button {
    background-color: #e0a04f;
    color: #fff;
    padding: 2px 9px;
    border-radius: 4px;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 3px 0px,
        rgba(0, 0, 0, 0.06) 0px 1px 2px 0px;
}

.summary-meal-quantity span {
    margin: 0 0.75rem;
}

.review-section {
    margin-top: 3rem;
}

.review-col {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.review-row {
    display: flex;
    color: #2b2b2b;
    margin-bottom: 1rem;
}

.review-label {
    margin-right: 1rem;
    font-weight: 500;
}
